@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&family=Rock+Salt&display=swap');

:root {
	--main-color: #fcfbfa;
	--accent-color: #343333;
	--black: #000;

	--header-font: 'Rock Salt';
	--body-font: 'Red Hat Mono';
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'left-section right-section';
}

.leftSection {
	margin: 3rem;
	grid-area: left-section;
}

.rightSection {
	margin: 3rem;
	grid-area: right-section;
}

.cartItemsContainer h2 {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.cartItemsContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	margin: 0;
}

.cartItemsContainer li {
	padding: 0;
	margin: 1rem;
	height: 150px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.cartItemsContainer li img {
	margin: 0rem;
	height: 100%;
	border: 2px solid black;
}

.cartItemsContainer li h2,
.cartItemsContainer li p {
	font-size: 90%;
	margin: 1rem;
}

.cartItemsContainer li section {
	margin: 1rem;
}

.cartItemsContainer li section button {
	padding: 1px;
	border: 1px solid;
}
.qtyCounter {
	display: flex;
}

.qtyOrdered {
	margin: 4px;
	text-align: center;
}
